/* admin.css */

/* Overall layout */
.admin-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Main content layout */
.admin-main {
  flex: 1;
  display: flex;
  padding: 20px;
}

/* Container for user and book sections */
.admin-sections {
  display: flex;
  flex: 1;
}

/* 
 * User list Section
*/

#user-section {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background: #000;
}

#user-section h2 {
  margin: 20px 0;
}

/* user list */
#user-section .user-list {
  display: flex;
  flex-direction: column;
}

#user-section .user-item {
  display: flex;
  align-items: center;

  padding: 10px 10px;
  gap: 15px;

  border-radius: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background: none;
}

#user-section .user-item:first-of-type { 
  border-top: 1px solid rgba(255, 255, 255, 0.2); 
}

#user-section .user-icon {
  width: 20px;
  height: 20px;
}

#user-section .user-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#user-section .user-email {
  color: white;
  margin: 0 0;
}

#user-section .user-last-access {
  color: #bbb;
  text-align: right;
  flex-shrink: 0;
  margin: 0 0;
}

#user-section .user-search {
  width: 100%;

  padding: 8px;
  margin-top: 10px;

  border: none;
  border-radius: 4px;
  box-sizing: border-box;

  font-size: 14px;
  background-color: #333;
  color: #bbb;
}

#user-section .user-search:focus {
  outline: none;
  border: none;
}

/* 
 * Book registration section
*/

.book-section {
  flex: 1;
  padding: 20px;
  border-left: 1px solid #ccc;
  background: #000;
}
