/* @/app/style/admin.css */

/* Container for user and book sections */
.admin-sections {
  display: flex;
  flex: 1;
}

/* Sections */
.admin-sections section {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background: #000;
}

/* Remove Scroll Bar */
::-webkit-scrollbar { display: none; }
html { scrollbar-width: none; }
body { -ms-overflow-style: none; }