#navbar {
  width: 100vw;
  background-color: #222;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}


#navbar h1 {
  margin: 0 20px;
  font-size: 24px;
  color: white;
}

.navbar-logo-container { 
  /* #navbar padding + .nav-logo-container margin-left == 20 */
  margin-left: 15px;
  position: relative;
  display: inline-block;
  height: 40px;
}

.navbar-logo {
  height: 100%;
  display: block;
  transition: opacity 0.3s ease-in-out;
}

.navbar-hover-logo {
  height: 100%;
  display: block;
  transition: opacity 0.3s ease-in-out;
  
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

/* .navbar-logo-container:hover .navbar-logo { opacity: 0; } */
.navbar-logo-container:hover .navbar-hover-logo { opacity: 1; }

.nav {
  /* #navbar padding + .nav padding == 20 */
  padding: 15px;
  display: flex;
  gap: 20px;
  min-width: 0;
  overflow-x: scroll;
  flex-wrap: nowrap;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  white-space: nowrap;
  margin: 0 5px;
  
  transition: all 0.3s ease;
}

.nav a:hover {
  color: rgb(247, 143, 30);
}