/* @/app/styles/components/unique/logsection.css */

#log-section {
  flex: 1;
  padding: 20px;
  height: calc(100%-40px);

  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: #000;
}

.log-list {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.log-item {
  font-family: monospace;
  font-size: 14px;
  color: #ccc;
  white-space: pre-wrap;
}
