/* @/app/styles/components/unique/logsection.css */

#log-section {
  flex: 1;
  padding: 20px;
  height: calc(100%-40px);

  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: #000;
}

.log-list {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.log-console {
  font-weight: normal;
}

.log-console a,
.log-console .flush-button {
  color: rgb(247, 143, 30);
  text-decoration: none;
  font: inherit;

  background: none;
  border: none;

  cursor: pointer;
  padding: 0;
}

.log-item {
  font-family: 'D2Coding', monospace;
  font-size: 14px;
  color: #ccc;
  white-space: pre-wrap;
}
