/* @/app/style/admin.css */

/* Container for Admin Section */
.admin-sections {
  display: flex;
  height: calc(100vh - 66px);
  flex: 1;

  /* Sections */
  section {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background: #000;
  }
}