/* @/styles/drive.css */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    font-size: 24px;
    font-weight: bold;
  }
}

/* Infomation Section at drive/book */
#book-head-info {
  margin-bottom: -5px;
  padding: 5px 0px 0px;
  width: 100vw;
  
  text-align: center;
  overflow-x: scroll;
  user-select: none;
}

#book-head-info p {
  margin: 0;
  min-width: 100%;
  font-size: 14px;
  white-space: nowrap;
  color: #777;
}  

/* Button Group */
.button-group button {
  padding: 8px 16px 4px 16px;
  background-color: #fff;
  color: #fff;
  border: 0px solid #fff;
  cursor: pointer;
  border-radius: 5px;
}

.button-group button:hover {
  background-color: #ccc;
}

.button-group .icon {
  width: 24px;
  height: 24px;
}

/* FileList Control Links */
#filelist-control-links {
  display: flex;
  flex-direction: row;

  .back-link {
    display: block;
    margin-top: 20px;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
    &:hover {text-decoration: underline;}
  }
}

/* End of booklist */
#end-of-booklist {
  margin: 50px 0px;
  width: 100vw;
  
  display: flex;
  justify-content: center;

  .end-indicator {
    display: block;
    font-size: 18px;
    text-decoration: none;
    color: gray;
  }
}