
/* @/styles/components/list/booklist.css */

/* 書籍リストのスタイル */
#booklist-content-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

#booklist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}