/* @/styles/component/list/filelist.css */

/* File List */
.file-list {
  font-family: 'D2Coding', monospace;
  
  .file-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
    border-radius: 0px;
    &:first-of-type { border-top: 1px solid rgba(255, 255, 255, 0.2); }
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    background-color: #000;
    transition: background-color 0.3s ease;
    &:hover { background-color: #222; }

    .file-icon { width: 24px; height: 24px; margin-right: 10px; }
    
    /* Filename at Drive(Exam) page */
    .file-item__title, .jebo-item__title, a {
      flex-grow: 1;
      text-decoration: none;
      font-size: 18px;
      color: #fff;

      .loading-icon {
        height: 50px;
        margin: -20px 0 -12px;
        width: auto;
        vertical-align: middle;
      }

      &:hover { cursor: pointer; }
    }
    .jebo-item__title:hover { text-decoration: underline; }

    /* Filename at Jebo Console */
    .jeboconsole-pending-file-name {
      flex-grow: 1;
      margin: 0;
      font-size: 18px;
      color: #fff;
    }
  }

  .empty-message {
    text-align: center;
    color: #aaa;
    font-size: 16px;
    margin-top: 10px;
  }
}
