/* @/styles/components/console/jeboconsole.css */

#jebo-container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  /* Input Section */

  .jebo-input-row {
    display: flex;
    width: 100%;
    gap: 10px;
    input { flex-grow: 1; }
  }

  input[type="text"],
  textarea {
    padding: 10px;
    border: none;
    border-radius: 0px;
    box-sizing: border-box;
    
    font-family: 'D2Coding', monospace;
    font-size: 14px;
    background-color: #181818;
    border: 1px solid rgba(225, 225, 255, 0.2);
    color: #bbb;

    &:focus {
      outline: none;
      border: 1px solid rgba(225, 225, 255, 0.2);
    }
  }
  textarea { resize: vertical; }

  /* Pending Filelist */
  .file-list, .empty-message { margin: 10px 0; }
  .empty-message {
    width: 100%;
    text-align: center;
    color: #bbb;
  }
}

#jebo-file-select-group {
  display: flex;
  gap: 10px;
  align-items: center;

  .buttons {
    display: inline-block;
    cursor: pointer;
    
    padding: 10px 20px;
    margin: 0;
    border-radius: 5px;
    font-size: 14px;
    
    color: white;
    border: 1px solid #bbb;
    
    background-color: transparent;
    transition: background-color 0.3s ease;
    &:hover { background-color: #333; }
  }
}