
/* @/styles/components/console/searchconsole.css */

/* 検索セクションのスタイル */
#search-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* 左側の検索エリア */
#left-search {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 45%;
}

#left-search input {
  font-family: 'D2Coding', monospace;
  font-size: 14px;
  padding: 8px;
  
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  
  color: white;
  background-color: #222;
}

#left-search input:disabled,
#left-search input.disabled-input {
  background-color: #555;
}

/* 右側のタグ検索エリア */
#right-search {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-height: 120px;
  overflow: hidden;
  .tag-container {
    font-family: Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow-y: auto;
  }
  
  .tag-container .tag,
  .tag-container .main-tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .tag-container .tag {
    color: #bbb;
    border: 1px solid #bbb;
    padding: 4px 9px;
    background: transparent;
  }
  
  .tag-container .tag:hover {
    background-color: #777;
  }
  
  .tag-container .tag.selected {
    border: 1.5px solid white;
    padding: 3.5px 8.5px;
    background-color: #222;
  }
  
  .tag-container .main-tag .tag-icon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }
  
  .tag-container .main-tag:hover {
    filter: brightness(120%);
  }
  
  .tag-container .main-tag.selected {
    border: 2px solid white;
    padding: 3px 8px;
  }
}