/* @/app/styles/components/console/jeboconsole.css */

#jebo-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#jebo-container input[type="text"],
#jebo-container textarea {
  padding: 10px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  
  font-family: Arial, sans-serif;
  font-size: 14px;
  background-color: #181818;
  border: 1px solid rgba(225, 225, 255, 0.2);
  color: #bbb;

  &:focus {
    outline: none;
    border: 1px solid rgba(225, 225, 255, 0.2);
  }
}

#jebo-container textarea {
  resize: vertical;
}

#jebo-container .file-list,
#jebo-container .empty-message {
  margin: 10px 0;
}

#jebo-container .pending-file-name {
  flex-grow: 1;
  margin: 0;
  font-size: 18px;
  color: #fff;
}

#jebo-file-select-group {
  display: flex;
  gap: 10px;
  align-items: center;
}

#jebo-file-select-group .buttons {
  display: inline-block;
  cursor: pointer;
  
  padding: 10px 20px;
  margin: 0;
  border-radius: 5px;
  font-size: 14px;
  
  color: white;
  border: 1px solid #bbb;
  background-color: transparent;
  
  transition: background-color 0.3s ease;
}

#jebo-file-select-group .buttons:hover {
  background-color: #333;
}